.GenericPage {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.GenericPage-top-bar {
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
}

.GenericPage-top-bar > .PageSelector {
  position: absolute;
  top: 12px;
  right: 31px;
}

.GenericPage-heading {
  display: inline-block;
}

.GenericPage-content-area {
  border-radius: 5px;
  border: 1px solid white;
  flex: 1;
  margin: 20px 30px;
  background: rgba(255, 255, 255, 0.8);
}
