.GenericPage {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.GenericPage-top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.GenericPage-heading {
  display: inline-block;
}

.GenericPage-top-bar > .PageSelector {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 25px 30px;
}

.GenericPage-content-area {
  flex: 1;
  background: rgba(255, 255, 255, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.GenericPage-content-area .heading {
  text-align: center;
  margin: 10px 0;
}
