.Container {
  display: flex;
  flex: 1;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Heading {
  margin: 15px 0;
  color: white;
  white-space: pre;
  text-align: center;
}
