.Container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Navigation {
  display: flex;
  flex: 1;

  align-items: center;
}

.Heading {
  margin: 15px 0;
  color: white;
  white-space: pre;
  text-align: center;
}

#homepage-handle {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-right: 25px;
  text-align: right;
}

.NavBlocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.NavBlocks > div {
  margin: 10px 0;
}

.Socials-Container {
  flex: 0.1;
  display: flex;
}

.Socials-Container > div {
  margin-right: 15px;
}

.Socials-Container > div:last-of-type {
  margin: 0;
}
