.Container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.LeftSplit {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  /* padding-right: 50px; */
}

.LeftSplit * {
  background-color: black;
  padding: 5px;
  margin: 2px 0;
}

.LeftSplit span,
.LeftSplit p {
  color: #e6e6e6;
  font-weight: 300;
}

.LeftSplit-Heading {
  font-family: 'KoHo', sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.LeftSplit-SubHeading {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.LeftSplit-Description {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.RightSplit {
  flex: 6;
  padding-left: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.RightSplit > div {
  margin: 5px 0;
}

.Navigation {
  display: flex;
  flex: 1;
  align-items: center;
}

.Heading {
  margin: 15px 0;
  color: white;
  white-space: pre;
  text-align: center;
}

#homepage-handle {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-right: 25px;
  text-align: right;
}

.NavBlocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.NavBlocks > div {
  margin: 10px 0;
}

.PersonalCorner {
  color: white;
  position: absolute;
  bottom: 2%;
  right: 2%;
  min-width: 250px;
  height: 38px;
  line-height: 38px;
  text-align: right;
  font-size: 12px;
}

.SocialCorner {
  display: flex;
  position: absolute;
  top: 2%;
  right: 2%;
}

.SocialCorner > div:last-child .SocialSVGIcon-Tooltip {
  left: -160%;
}
