.Container {
  display: flex;
  flex: 1;
}

.LeftSplit {
  flex: 1;
  /* background-color: white; */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  padding-right: 25px;
}

.LeftSplit * {
  background-color: black;
  padding: 3px;
}

.LeftSplit span,
.LeftSplit p,
.LeftSplit h3 {
  color: #e6e6e6;
}

.RightSplit {
  flex: 1.5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.RightSplit > div {
  margin: 10px 0;
}

.Navigation {
  display: flex;
  flex: 1;
  align-items: center;
}

.Heading {
  margin: 15px 0;
  color: white;
  white-space: pre;
  text-align: center;
}

#homepage-handle {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-right: 25px;
  text-align: right;
}

.NavBlocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.NavBlocks > div {
  margin: 10px 0;
}

.PersonalCorner {
  color: white;
  position: absolute;
  bottom: 2%;
  right: 2%;
  min-width: 250px;
  height: 38px;
  line-height: 38px;
  text-align: right;
  font-size: 12px;
}

.SocialCorner {
  display: flex;
  position: absolute;
  top: 2%;
  right: 2%;
}

.SocialCorner > div:last-child .SocialSVGIcon-Tooltip {
  left: -160%;
}
