.Container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Navigation {
  display: flex;
  flex: 1;
  align-items: center;
}

.Heading {
  margin: 15px 0;
  color: white;
  white-space: pre;
  text-align: center;
}

#homepage-handle {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-right: 25px;
  text-align: right;
}

.NavBlocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.NavBlocks > div {
  margin: 10px 0;
}

.PersonalCorner {
  color: white;
  position: absolute;
  bottom: 2%;
  right: 2%;
  min-width: 250px;
  height: 38px;
  line-height: 38px;
  text-align: right;
  font-size: 12px;
}

.SocialCorner {
  display: flex;
  position: absolute;
  top: 2%;
  right: 2%;
}

.SocialCorner > div:last-child .SocialSVGIcon-Tooltip {
  left: -160%;
}
