.ContentBox-Container {
  margin: 0 20px 20px 20px;
  padding: 20px;
  align-self: stretch;
}

.ContentBox-Heading {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.ContentBox-Content {
  color: #e6e6e6;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.ContentBox-Technologies {
  display: flex;
  justify-content: flex-end;
}
