.InstaNavElement-Container {
  display: inline-block;
  transition: all 0.01s cubic-bezier(0.220, 0.085, 0.395, 0.295);
}

.InstaNavElement-Container:hover .InstaNavElement {
  transition: all 0.1s cubic-bezier(0.820, 0.085, 0.395, 0.895);
  text-decoration-style: solid;
  filter: saturate(1) drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.1));
  opacity: 1;
}

.InstaNavElement {
  opacity: 0.8;
  color: white;
  filter: saturate(0.7);
  text-decoration: dotted underline;
  /* text-decoration-color: rgba(105, 207, 37, 0.822); */
  text-decoration-color: lightgreen;

  padding: 0px 20px;
  width: auto;

  font-size: 20px;
  line-height: auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

  font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

  cursor: pointer;
}
