.SocialSVGIcon-Container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5px 0px;
  padding: 5px;
  border-radius: 0px;

  cursor: pointer;

  position: relative;
}

.SocialSVGIcon-Tooltip {
  display: none;
  position: absolute;
  bottom: -90%;
  left: auto;

  background-color: white;
  color: darkslategray;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px;
  width: auto;

  white-space: nowrap;
}

.SocialSVGIcon-Container:hover .SocialSVGIcon-Tooltip {
  display: block;
}

.SocialSVGIcon-CustomAnchor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.SocialSVGIcon-CustomAnchor:focus,
.SocialSVGIcon-CustomAnchor:hover,
.SocialSVGIcon-CustomAnchor:visited,
.SocialSVGIcon-CustomAnchor:link,
.SocialSVGIcon-CustomAnchor:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.SocialSVGIcon {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 18px;
  width: 18px;

  border-radius: 20px;
}

.SocialSVGIcon > svg {
  /* fill: white; */
  flex: 1;
  transform: scale(1.05);
}
