.Page-NavHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 70px;
  min-height: 100px;

  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}

.Page-NavHeader-LogoSide {
  display: flex;
}

.LogoText > span {
  display: block;
  color: #e6e6e6;
}

.LogoText-Title {
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 1.2px;
}
.LogoText-SubTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.Page-NavHeader-NavMenu {
  display: flex;
  align-items: flex-end;
}
