.Router {
  height: 100%;
  width: 100%;
  display: flex;
}

.Content {
  flex: 1;
  display: flex;
  flex-direction: column;

  background-color: #181b20;
}

.Wallpaper-Overlay {
  flex: 1;
  background: linear-gradient(to bottom, rgba(37, 128, 156, 0.1), rgba(139, 62, 139, 0.1));
}
